[Unit]
Description=Chicken Coop Monitoring Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/chickencoop
ExecStartPre=/bin/sleep 5
ExecStart=/home/pi/chickencoop/venv/bin/python -m src.main
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
